<a href="https://colab.research.google.com/github/skywalker0803r/Letter-of-Credit-Intelligent-Auxiliary-Semantic-Analysis-System/blob/main/notebook/MSKTS_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 載入算法

In [68]:
import re 
  
str1 = "7953abcd[)12!zfee"
print ("Original alphanumeric string : ", str1) 

def clean_text(str1): 
  char = "" 
  for x in str(str1):
    if x.isalpha(): 
      char = "".join([char, x])
  return char 
  
print ("Extracted characters from the alphanumeric string: ", clean_text(str1))

Original alphanumeric string :  7953abcd[)12!zfee
Extracted characters from the alphanumeric string:  abcdzfee

In [69]:
import requests
url = 'https://gist.githubusercontent.com/skywalker0803r/7c00d680d731b99ab549dd40a96006ce/raw/25bdbba19b745f4dacf51ccf9de0123e21062c80/MSKTS.py'
exec(requests.get(url).text)
model = MSKTS()
data = ['a','b','c','d','e']
model.fit(data)
output = model.predict('a',k=3)
output

[('A', 2.3575188830395972), ('C', 0.5172808422980086), ('B', 0.0)]

# load database

In [70]:
import pandas as pd

database = pd.read_excel('/content/drive/MyDrive/NLP_dataset/Letter-of-Credit-Intelligent-Auxiliary-Semantic-Analysis-System/data/combined_excel.xlsx')
database.head()

   Unnamed: 0  ...                         SPEC
0           0  ...                          NaN
1           1  ...                          NaN
2           2  ...                          NaN
3           3  ...          MASS PVC RESIN B-57
4           4  ...  (鄰苯二甲酐)\nPHTHALIC ANHYDRIDE

[5 rows x 19 columns]

# fit model

In [71]:
model = MSKTS()
database['處理過的資料'] = database['45A'].apply(clean_text)
database['處理過的資料'].values.tolist()[:5]

['SHIPMENTOFPVCSUSPENSIONRESINSDQTYMTPVCSUSPENSIONRESINSQTYMTPVCMASSRESINBQTYMTASPERPROFORMAINVOICENOAADTHSNCODEINCOTERMSCIFMUNDRAPORTINDIA',
 'MTPVCCOPOLYMERRESINCATUSDPERMTASPERPROFORMAINVOICENOLVNCDTSTDECEMBERINCOTERMCIFMUNDRASEAPORTINDIA',
 'TERMSOFSALECIFNHAVASHEVAPORTINDIAMTOFPVCRESINSATUSDPMTASPERPROFORMAINVOICENOQDATEDDEC',
 'MASSPVCRESINBQUANTITYMTATUSDMTASPERPROFORMAINVOICENOABDATEDCIFPIPAVAVPORTINDIAINCOTERMS',
 'PHTHALICANHYDRIDEPAQUANTITYMTUNITPRICEUSDMTCIFJEDDAHSEAPORTKSAASPERINCOTERMS']

In [72]:
model.fit(database['處理過的資料'].values.tolist())

# load test data

In [73]:
test_data = pd.read_csv('/content/drive/MyDrive/NLP_dataset/Letter-of-Credit-Intelligent-Auxiliary-Semantic-Analysis-System/data/測試數據/0927到1022.csv')
test_data.head()

   Unnamed: 0  項次  ... memo Unnamed: 5
0           7   8  ...  NaN        NaN
1           9  10  ...  NaN        NaN
2          10  11  ...  NaN        NaN
3          11  12  ...  NaN        NaN
4          12  13  ...  NaN        NaN

[5 rows x 22 columns]

# test model

In [74]:
test_data['處理後的資料'] = test_data['45A'].apply(clean_text)

In [75]:
output = model.predict(test_data['處理後的資料'][0],k=3)
output

[('SHIPMENTOFPVCSUSPENSIONRESINSDQTYMTPVCSUSPENSIONRESINSQTYMTPVCMASSRESINBQTYMTASPERPROFORMAINVOICENOAADTHSNCODEINCOTERMSCIFMUNDRAPORTINDIA',
  1.7976931348623157e+308),
 ('TERMSOFSALECIFNHAVASHEVAPORTINDIAMTOFPVCRESINSATUSDPMTASPERPROFORMAINVOICENOQDATEDDEC',
  1.7976931348623157e+308),
 ('MASSPVCRESINBQUANTITYMTATUSDMTASPERPROFORMAINVOICENOABDATEDCIFPIPAVAVPORTINDIAINCOTERMS',
  1.7976931348623157e+308)]

In [76]:
output = [i[0] for i in output]
output

['SHIPMENTOFPVCSUSPENSIONRESINSDQTYMTPVCSUSPENSIONRESINSQTYMTPVCMASSRESINBQTYMTASPERPROFORMAINVOICENOAADTHSNCODEINCOTERMSCIFMUNDRAPORTINDIA',
 'TERMSOFSALECIFNHAVASHEVAPORTINDIAMTOFPVCRESINSATUSDPMTASPERPROFORMAINVOICENOQDATEDDEC',
 'MASSPVCRESINBQUANTITYMTATUSDMTASPERPROFORMAINVOICENOABDATEDCIFPIPAVAVPORTINDIAINCOTERMS']

In [77]:
候選答案清單 = database.loc[database['處理過的資料'].isin(output),'EXPNO'].values.tolist()
候選答案清單 = [str(i)[:2] for i in 候選答案清單]
候選答案清單

['na', 'na', '11']

In [78]:
真正答案 = test_data['推薦公司事業部'][0]
真正答案

'11'

In [79]:
真正答案 in 候選答案清單

True