In [3]:
import pandas as pd

df = pd.read_csv('../data/寶典/SwiftCodes.csv')
df

,df_json$country_code,id,bank,city,branch,swift_code,bank_city
0,AD,1,ANDORRA BANC AGRICOL REIG S.A.,LES ESCALDES,NaN,BACAADAD,"ANDORRA BANC AGRICOL REIG S.A., LES ESCALDES"
1,AD,2,ANDORRA GESTIO AGRICOL REIG SAU,ESCALDES-ENGORDANY,NaN,AAMAADAD,"ANDORRA GESTIO AGRICOL REIG SAU, ESCALDES-ENGO..."
2,AD,3,BANC SABADELL D'ANDORRA S.A.,ANDORRA LA VELLA,NaN,BSANADAD,"BANC SABADELL D'ANDORRA S.A., ANDORRA LA VELLA"
3,AD,4,BANCA PRIVADA D'ANDORRA S.A.,LES ESCALDES,NaN,CASBADAD,"BANCA PRIVADA D'ANDORRA S.A., LES ESCALDES"
4,AD,5,"CREDIT ANDORRA,S.A.",ANDORRA LA VELLA,NaN,CRDAADAD,"CREDIT ANDORRA,S.A., ANDORRA LA VELLA"
...,...,...,...,...,...,...,...
112882,ZW,60,THE TETRAD GROUP,HARARE,NaN,TEGRZWH1,"THE TETRAD GROUP, HARARE"
112883,ZW,61,TRUST CORPORATE SECURITIES (PRIVATE) LIMITED,HARARE,NaN,TCSPZWH1,"TRUST CORPORATE SECURITIES (PRIVATE) LIMITED, ..."
112884,ZW,62,ZIMBABWE BANKING CORPORATION LTD.,BULAWAYO,NaN,ZBCOZWHXBYO,"ZIMBABWE BANKING CORPORATION LTD., BULAWAYO"
112885,ZW,63,ZIMBABWE BANKING CORPORATION LTD.,HARARE,NaN,ZBCOZWHX,"ZIMBABWE BANKING CORPORATION LTD., HARARE"
112886,ZW,64,ZIMBABWE STOCK EXCHANGE,HARARE,NaN,XZIMZWH1,"ZIMBABWE STOCK EXCHANGE, HARARE"