In [19]:
import pandas as pd

df = pd.read_excel('../data/0928.xls',skiprows=2)
df = df.rename(columns={'信用狀號碼':'20'})
print(df.shape)
df.head()

(77, 12)

,項次,電文代號,銀行,20,回傳代碼,回傳訊息,建檔日期,受益人,金額,推薦公司事業部,是否已轉MIS,memo
0,1,mt700,NaN,NaN,400,"{""MESSAGE"":""傳遞參數有誤。"",""CODE"":400}",2021/09/27 22:30:04,NaN,NaN,NaN,N,NaN
1,2,mt707,01,0047FLC210083,200,"{""MESSAGE"":"""",""CODE"":200}",2021/09/27 11:10:04,FORMOSA PLASTICS CORPORATION\r\nCHEMICALS DIVI...,NaN,1A,Y,NaN
2,3,mt700,01,NLHM0024839,200,"{""MESSAGE"":"""",""CODE"":200}",2021/09/27 15:11:59,"FORMOSA PETROCHEMICAL CORPORATION\r\n4F, NO. 2...","USD120000,",62,Y,NaN
3,4,mt700,06,1CNAA2000096-203,200,"{""MESSAGE"":"""",""CODE"":200}",2021/09/27 10:35:29,FORMOSA PLASTICS CORPORATION\nNO.201 TUNG HWA ...,CURRENCY USD AMOUNT 878825.,18,Y,NaN
4,5,mt700,06,592LC2101457,200,"{""MESSAGE"":"""",""CODE"":200}",2021/09/27 10:35:32,"FORMOSA PLASTICS CORPORATION\nNO.201, TUNG HWA...",CURRENCY USD AMOUNT 345700.,18,Y,NaN

In [20]:
df2 = pd.read_excel('../data/0928(0927轉入).xlsx')
print(df2.shape)
df2.head()

(63, 83)

,銀行代號,交易時間,ACNO,BASICBLOCK,APPLICATIONID,SERVICEID,LTADDRESS,SESSIONNO,SEQNO,APPLICATIONBLOCK,...,SRC,EXTFILE,MT701S,27.1,20.1,45A.1,46A.1,47A.1,49G.1,49H.1
0,21,2021/09/27 11:20:39,bh8q7emd,NaN,F,1,CITITWTXAXXX,1756,56235,NaN,...,5134766099-000.pdf,datafile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21,2021/09/27 11:00:26,bh8q7emd,NaN,F,1,CITITWTXAXXX,1737,55941,NaN,...,5130766099-000.pdf,datafile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,2021/09/27 10:35:24,sbuvdc8q,NaN,F,1,HNBKTWTPB126,9476,341167,NaN,...,NaN,NaN,NaN,/PHONBEN/TEL: 886-2-2712 2211\r\n//FAX: 886-2-...,HOA0005413.PDF,datafile,NaN,NaN,NaN,NaN
3,21,2021/09/27 11:50:26,bh8q7emd,NaN,F,1,CITITWTXAXXX,1109,58888,NaN,...,5139766101-000.pdf,datafile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21,2021/09/27 14:50:34,bh8q7emd,NaN,F,1,CITITWTXAXXX,2102,37072,NaN,...,5137766089-000.pdf,datafile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_merged = pd.merge(df,df2,on='20',how='left')
print(df_merged.shape)
df_merged = df_merged[['45A']].dropna(axis=0)
df_merged.head()

(79, 94)

                                                  45A
6   ABS RESIN (AG15A1-H) / ABS RESIN (AG15A0) / AB...
7   45A- PVC SUSPENSION RESIN S-65 16.0 MT AT USD ...
8   45A- PVC SUSPENSION RESIN S-65 16.0 MT AT USD ...
9   45A- PVC SUSPENSION RESIN S-65 16.0 MT AT USD ...
10  45A- PVC SUSPENSION RESIN S-65 16.0 MT AT USD ...

In [28]:
df_merged.to_csv('../data/20210928測試資料.csv')