In [119]:
import pandas as pd
df = pd.read_excel('../data/寶典.v4.20211001.xlsx',engine='openpyxl')
df = df.rename(columns={'ITEMNM':'品名','DIVNM':'公司事業部門','CODIV':'公司代號'})
df['品名'] = df['品名'].apply(lambda x:x.strip()) # 針對品名去除左右空白
df['RIGID'].fillna('not value',inplace=True)
df['EXTN'].fillna('not value',inplace=True)
品名2部門 = dict(zip(df['品名'],df['公司事業部門']))
品名2代號 = dict(zip(df['品名'],df['公司代號']))
NAME = 'TAISOX EVA'

In [120]:
品名2部門[NAME]

'台塑聚烯部'

In [121]:
品名2代號[NAME]

'18'

In [122]:
train_df = pd.read_csv('../data/preprocess_for_SQUAD_產品.csv')
train_df['Y_label'] = train_df['Y_label'].apply(lambda x:x.strip()) #針對SPEC去除左右空白
train_df[(train_df['Y_label']==NAME)]

Empty DataFrame
Columns: [Unnamed: 0, string_X_train, Y_label, EXPNO, from, string_Y_1, string_Y_2]
Index: []

In [123]:
# 根據品名從訓練資料搜索EXPNO,然後把EXPNO代入保典裡找公司部門
def find_department(x):
    try:
        return df.loc[df['公司代號']==train_df.loc[train_df.Y_label==x,'EXPNO'].dropna().value_counts().sort_values().index[-1],'公司事業部門'].value_counts().sort_values().index[-1]
    except:
        return 'not from_pretrained'

In [124]:
find_department(NAME)

'not from_pretrained'

In [125]:
df[df['品名']==NAME]

         RIGID       EXTN 公司代號 公司事業部門          品名
171  not value  not value   18  聚烯事業部  TAISOX EVA
627        李佩珍       6445   18  台塑聚烯部  TAISOX EVA

In [126]:
train_df[train_df['Y_label']==NAME]

Empty DataFrame
Columns: [Unnamed: 0, string_X_train, Y_label, EXPNO, from, string_Y_1, string_Y_2]
Index: []