In [44]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
from torch.optim.optimizer import Optimizer
import matplotlib.pyplot as plt
from copy import deepcopy
import numpy as np
import random
import torch
from transformers import pipeline
import warnings 
warnings.filterwarnings('ignore')
from pytorch_lightning import seed_everything
from torch.utils.data import DataLoader
import os
import gc
import numpy as np
import re
gc.collect()

def get_jaccard_sim(str1, str2): 
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

def set_seed(seed = int):
    '''Sets the seed of the entire notebook so results are the same every time we run.
    This is for REPRODUCIBILITY.'''
    np.random.seed(seed)
    random_state = np.random.RandomState(seed)
    random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.deterministic = True
    torch.backends.cudnn.benchmark = False
    os.environ['PYTHONHASHSEED'] = str(seed)
    seed_everything(seed)
    return random_state
random_state = set_seed(42)

def preprocess(x):
    x = str(x) # 0.轉字串
    x = re.sub('[\u4e00-\u9fa5]', '', x) # 1.去除中文
    x = re.sub('[’!"#$%&\'()*+,/:;<=>?@[\\]^_`{|}~，。,.]', '', x) # 2.去除標點符號
    x = x.replace('\n', '').replace('\r', '').replace('\t', '') # 3.去除換行符號
    x = str.strip(x) # 4.移除左右空白
    x = x.replace('x000D','') # 5.移除'x000D'
    return x

def model_predict(nlp,df):
    table = pd.DataFrame()
    for i in tqdm(df.index):
        sample = df.loc[[i]]
        string_X_train = sample['string_X_train'].values[0]
        QA_input = {
            'question': 'What is the bank name?',
            'context': string_X_train
        }
        res = nlp(QA_input)
        predict = QA_input['context'][res['start']:res['end']]
        row = pd.DataFrame({'predict:':predict},index=[i])
        table = table.append(row)
    return table

def get_bank(text):
    text = preprocess(str(text))
    split_keywords = ['TO ORDER OF','TO THEORDER OF','TO THE ORDER OF','TOTHE ORDER OF','TO THE ORDER+OF','TOORDER OF']
    for i in split_keywords:
        if i in text: # 若找到關鍵分割字串
            text = text.split(i)[1] # 取後半段文章
            
            # ==========各種case==================
            # case 1 LIMITED
            if 'LIMITED' in text:
                idx = text.find('LIMITED')
                result = preprocess(text[:idx+len('LIMITED')])
                if ('LIMITED' in result) and (len(result) > len('LIMITED')):
                    return result
            
            # case 2 LTD
            elif 'LTD' in text:
                idx = text.find('LTD')
                result = preprocess(text[:idx+len('LTD')])
                if ('LTD' in result) and (len(result) > len('LTD')):
                    return result
            
            # case 3 BANK
            elif 'BANK' in text:
                idx = text.find('BANK')
                result = preprocess(text[:idx+len('BANK')])
                if ('BANK' in result) and (len(result) > len('BANK')):
                    return result 
            
            # case 4 BANKMARKED
            elif 'BANKMARKED' in text:
                idx = text.find('BANKMARKED')
                result = preprocess(text[:idx+len('BANKMARKED')])
                if ('BANKMARKED' in result) and (len(result) > len('BANKMARKED')):
                    return result 
            
            # case 5 NA
            elif 'NA' in text:
                idx = text.find('NA')
                result = preprocess(text[:idx+len('NA')])
                if ('NA' in result) and (len(result) > len('NA')):
                    return result 

            # case 6 CHINA
            elif 'CHINA' in text:
                idx = text.find('CHINA')
                result = preprocess(text[:idx+len('CHINA')])
                if ('CHINA' in result) and (len(result) > len('CHINA')):
                    return result 
            
            # case 7 BRANCH
            elif 'BRANCH' in text:
                idx = text.find('BRANCH')
                result = preprocess(text[:idx+len('BRANCH')])
                if ('BRANCH' in result) and (len(result) > len('BRANCH')):
                    return result
            
            # case 8 找到關鍵分隔字 但是找不到上面的模式
            else:
                return 'not find'
        
        # case 9 找不到關鍵分隔字
        else:
            return 'not find'

def get_acc(df,t=0.75):
    correct = []
    correct_label = []
    for i in df.index:
        jac = get_jaccard_sim(df.loc[i,'Y_label'],df.loc[i,'predict'])
        if jac >= t:
            correct.append('yes')
        else:
            correct.append('no')
    result = pd.Series(correct)
    return result.value_counts()['yes']/len(result)

def get_jac(df):
    all_jacs = []
    for i in df.index:
        all_jacs.append(get_jaccard_sim(str(df.loc[i,'Y_label']),str(df.loc[i,'predict'])))
    return np.sum(all_jacs)/len(all_jacs)

Global seed set to 42

# LOAD DATA

In [45]:
df = pd.read_csv('../data/preprocess_for_SQUAD_銀行.csv',index_col=0)
from sklearn.model_selection import train_test_split
train_df, val_df = train_test_split(df, test_size=0.2, random_state=42)
print(train_df.shape)
print(val_df.shape)
display(val_df)
display(val_df['Y_label'].apply(lambda x:x.split(' ')[-1]).value_counts().head(10))

(2993, 4)
(749, 4)

,string_X_train,Y_label,string_Y_1,string_Y_2
19801,SIGNED COMMERCIAL INVOICE IN 03 COPIESFULL SET...,WOORI BANK,111,121
3132,1 SIGNED COMMERCIAL INVOICE IN 03 ORIGINALS 2 ...,VIETINBANK,163,173
1247,1DRAFT FOR 100 PCT OF INVOICE VALUE2COMPLETE S...,INDUSIND BANK LIMITED,2111,2132
5193,SIGNED COMMERCIAL INVOICE IN 3 FOLDFULL SET OF...,KOOKMIN BANK,108,120
5923,1 SIGNED COMMERCIAL INVOICE IN TRIPLICATE2 SIG...,CATHAY UNITED BANK,2443,2461
...,...,...,...,...
19522,1 SEALED COMMERCIAL INVOICE IN 3 ORIGINALS AND...,BANK OF CHINA LTD,679,696
19114,SIGNED COMMERCIAL INVOICE IN TRIPLICATE FULL S...,INDUSTRIAL BANK OF KOREA SEOUL LETTER OF CREDI...,864,948
2087,SIGNED COMMERCIAL INVOICE IN 1 COPY INDICATING...,CTBC BANK CO LTD,2718,2734
4167,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALSPACKIN...,TAIPEI FUBON COMMERCIAL BANK,435,463
3028,SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS INDIC...,TAISHIN INTERNATIONAL BANK,2587,2613

BANK          269
LTD           135
LIMITED        53
NA             40
BRANCH         25
CHINA          22
SEOUL          20
BERHAD         20
BM             16
VIETINBANK     14
Name: Y_label, dtype: int64

# Load Model

In [46]:
from transformers import DistilBertTokenizerFast
from transformers import DistilBertForQuestionAnswering

tokenizer = DistilBertTokenizerFast.from_pretrained('distilbert-base-uncased')
model = DistilBertForQuestionAnswering.from_pretrained("distilbert-base-uncased")
model.load_state_dict(torch.load('../models/Product_Data_SQuAD_model_銀行.pt'))
model.eval()
nlp = pipeline('question-answering', model=model.to('cpu'), tokenizer=tokenizer)
gc.collect()

Some weights of the model checkpoint at distilbert-base-uncased were not used when initializing DistilBertForQuestionAnswering: ['vocab_layer_norm.weight', 'vocab_transform.weight', 'vocab_transform.bias', 'vocab_layer_norm.bias', 'vocab_projector.bias', 'vocab_projector.weight']
- This IS expected if you are initializing DistilBertForQuestionAnswering from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertForQuestionAnswering from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of DistilBertForQuestionAnswering were not initialized from the model checkpoint at distilbert-base-uncased and are newly initialized: ['qa_outputs.bias', 'qa_outputs.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

93

# 先規則

In [47]:
result = pd.DataFrame()
result['string_X_train'] = val_df['string_X_train']
result['Y_label'] = val_df['Y_label']
result['predict'] = val_df['string_X_train'].apply(get_bank)
result.loc[result['predict'] != 'not find','class'] = 'rule'
result

,string_X_train,Y_label,predict,class
19801,SIGNED COMMERCIAL INVOICE IN 03 COPIESFULL SET...,WOORI BANK,not find,NaN
3132,1 SIGNED COMMERCIAL INVOICE IN 03 ORIGINALS 2 ...,VIETINBANK,VIETINBANK,rule
1247,1DRAFT FOR 100 PCT OF INVOICE VALUE2COMPLETE S...,INDUSIND BANK LIMITED,INDUSIND BANK LTD QUOTING OUR LC AND DATE MARK...,rule
5193,SIGNED COMMERCIAL INVOICE IN 3 FOLDFULL SET OF...,KOOKMIN BANK,not find,NaN
5923,1 SIGNED COMMERCIAL INVOICE IN TRIPLICATE2 SIG...,CATHAY UNITED BANK,not find,NaN
...,...,...,...,...
19522,1 SEALED COMMERCIAL INVOICE IN 3 ORIGINALS AND...,BANK OF CHINA LTD,not find,NaN
19114,SIGNED COMMERCIAL INVOICE IN TRIPLICATE FULL S...,INDUSTRIAL BANK OF KOREA SEOUL LETTER OF CREDI...,not find,NaN
2087,SIGNED COMMERCIAL INVOICE IN 1 COPY INDICATING...,CTBC BANK CO LTD,not find,NaN
4167,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALSPACKIN...,TAIPEI FUBON COMMERCIAL BANK,not find,NaN
3028,SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS INDIC...,TAISHIN INTERNATIONAL BANK,not find,NaN

# 後接bert

In [48]:
not_find_df = result.loc[result['predict']=='not find',:]
display(not_find_df)

,string_X_train,Y_label,predict,class
19801,SIGNED COMMERCIAL INVOICE IN 03 COPIESFULL SET...,WOORI BANK,not find,NaN
5193,SIGNED COMMERCIAL INVOICE IN 3 FOLDFULL SET OF...,KOOKMIN BANK,not find,NaN
5923,1 SIGNED COMMERCIAL INVOICE IN TRIPLICATE2 SIG...,CATHAY UNITED BANK,not find,NaN
5503,SIGNED COMMERCIAL INVOICE IN 2 FOLD PACKING LI...,KOOKMIN BANK,not find,NaN
315,1 MULTIMODAL BILLS OF LADING FULL SET REQUIRED...,CITIBANK NA,not find,NaN
...,...,...,...,...
19522,1 SEALED COMMERCIAL INVOICE IN 3 ORIGINALS AND...,BANK OF CHINA LTD,not find,NaN
19114,SIGNED COMMERCIAL INVOICE IN TRIPLICATE FULL S...,INDUSTRIAL BANK OF KOREA SEOUL LETTER OF CREDI...,not find,NaN
2087,SIGNED COMMERCIAL INVOICE IN 1 COPY INDICATING...,CTBC BANK CO LTD,not find,NaN
4167,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALSPACKIN...,TAIPEI FUBON COMMERCIAL BANK,not find,NaN
3028,SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS INDIC...,TAISHIN INTERNATIONAL BANK,not find,NaN

In [49]:
bert_predict = model_predict(nlp,not_find_df)
bert_predict

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=660.0), HTML(value='')))

                                    predict:
19801                             WOORI BANK
5193                      KOOKMIN BANKMARKED
5923                    CATHAY UNITED   BANK
5503                    KOOKMIN BANKMAPOYEOK
315                            OFCITIBANK NA
...                                      ...
19522                      BANK OF CHINA LTD
19114         INDUSTRIAL BANK OF KOREA SEOUL
2087                        CTBC BANK CO LTD
4167     HOURSWETAIPEI FUBON COMMERCIAL BANK
3028   INFORMATIONTAISHIN INTERNATIONAL BANK

[660 rows x 1 columns]

In [50]:
result.loc[bert_predict.index] = bert_predict.values
result.loc[bert_predict.index,'class'] = 'bert'
result

,string_X_train,Y_label,predict,class
19801,WOORI BANK,WOORI BANK,WOORI BANK,bert
3132,1 SIGNED COMMERCIAL INVOICE IN 03 ORIGINALS 2 ...,VIETINBANK,VIETINBANK,rule
1247,1DRAFT FOR 100 PCT OF INVOICE VALUE2COMPLETE S...,INDUSIND BANK LIMITED,INDUSIND BANK LTD QUOTING OUR LC AND DATE MARK...,rule
5193,KOOKMIN BANKMARKED,KOOKMIN BANKMARKED,KOOKMIN BANKMARKED,bert
5923,CATHAY UNITED BANK,CATHAY UNITED BANK,CATHAY UNITED BANK,bert
...,...,...,...,...
19522,BANK OF CHINA LTD,BANK OF CHINA LTD,BANK OF CHINA LTD,bert
19114,INDUSTRIAL BANK OF KOREA SEOUL,INDUSTRIAL BANK OF KOREA SEOUL,INDUSTRIAL BANK OF KOREA SEOUL,bert
2087,CTBC BANK CO LTD,CTBC BANK CO LTD,CTBC BANK CO LTD,bert
4167,HOURSWETAIPEI FUBON COMMERCIAL BANK,HOURSWETAIPEI FUBON COMMERCIAL BANK,HOURSWETAIPEI FUBON COMMERCIAL BANK,bert
3028,INFORMATIONTAISHIN INTERNATIONAL BANK,INFORMATIONTAISHIN INTERNATIONAL BANK,INFORMATIONTAISHIN INTERNATIONAL BANK,bert

In [51]:
result[result['Y_label']==result['predict']].sample(10).append(result[result['Y_label']!=result['predict']].sample(10))

,string_X_train,Y_label,predict,class
5040,HDFC BANK LTD,HDFC BANK LTD,HDFC BANK LTD,bert
5795,KOREA DEVELOPMENT BANK,KOREA DEVELOPMENT BANK,KOREA DEVELOPMENT BANK,bert
4305,1 SIGNED COMMERCIAL INVOICE ISSUED BY BENEFICI...,VIETINBANK,VIETINBANK,rule
695,ATCITIBANK NA,ATCITIBANK NA,ATCITIBANK NA,bert
431,CATHAY UNITEDBANK,CATHAY UNITEDBANK,CATHAY UNITEDBANK,bert
2196,KOREAIBK FINANCE,KOREAIBK FINANCE,KOREAIBK FINANCE,bert
5217,TOBANK HAPOALIM BM,TOBANK HAPOALIM BM,TOBANK HAPOALIM BM,bert
7647,HDFC BANK LTDE,HDFC BANK LTDE,HDFC BANK LTDE,bert
3905,BANK CO LTD,BANK CO LTD,BANK CO LTD,bert
6957,ADDRESSBANK OF CHINA LTDXIAMEN,ADDRESSBANK OF CHINA LTDXIAMEN,ADDRESSBANK OF CHINA LTDXIAMEN,bert
20142,1 SIGNED COMMERCIAL INVOICE IN TRIPLICATE2 PAC...,BNP PARIBAS,BNP PARIBASAND NOTIFY U KWONG INDUSTRIAL CO LT...,rule
1666,1SIGNED COMMERCIAL INVOICES IN 3 COPIES CERTIF...,ICICI BANK LTD,ICICI BANK LTD ICICICENTRE 163 HTPAREKH MARG B...,rule
1356,DRAFTS AT SIGHTSIGNED COMMERCIAL INVOICE S IN ...,AXIS BANK LIMITED,AXIS BANK LTD SHOP 123RAIJI NAGAR SHOPPING CEN...,rule
2144,1 COMMERCIAL INVOICE IN QUADRUPLICATE MANUALLY...,MEGA INTERNATIONALCOMMERCIAL BANK,MEGA INTERNATIONAL COMMERCIAL BANK CO LTD,rule
15243,1SIGNED COMMERCIAL INVOICES IN THREE ORIGINALP...,BANK OF BARODA,BANK OF BARODADUBAI MAIN BRANCHPOBOX 3162DUBAI...,rule
241,1 SIGNED AND DATED COMMERCIAL INVOICE 3 ORIGIN...,BANCO DI DESIO E DELLA BRIANZA,GICAR SPA - VIALE FERDINANDO DISAVOIA2 - 20124...,rule
15247,1SIGNED COMMERCIAL INVOICES IN THREE ORIGINALP...,BANK OF BARODA,BANK OF BARODADUBAI MAIN BRANCHPOBOX 3162DUBAI...,rule
2211,1 COMMERCIAL INVOICE IN QUADRUPLICATE MANUALLY...,MEGA INTERNATIONAL COMMERCIAL BANK,MEGA INTERNATIONAL COMMERCIAL BANK COLTD,rule
7453,SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS AND 1...,DRAWN UNDER THEMIZUHO BANKLTDHEAD OFFICECREDIT...,SHIPPER AND ENDORSED IN BLANKMARKED FREIGHT PR...,rule
2780,1 FULL SET 33 MARKED ORIGINALS CLEAN ON BOARD ...,METROPOLITAN BANK AND TRUST CO,METROPOLITAN BANK,rule

In [52]:
get_acc(result,1),get_acc(result,0.75),get_jac(result)

(0.9172229639519359, 0.9185580774365821, 0.928675990852709)

In [53]:
result.to_csv('../submit/submit_銀行.csv')

In [54]:
result['Y_label'].values.tolist()

['WOORI BANK',
 'VIETINBANK',
 'INDUSIND BANK LIMITED',
 'KOOKMIN BANKMARKED',
 'CATHAY UNITED   BANK',
 'KOOKMIN BANKMAPOYEOK',
 'OFCITIBANK NA',
 'SERVICETOCHINA EVERBRIGHT BANK',
 'WOORI BANK',
 'SHANGHAIBANKING CORPORATION LTD',
 'DRAWN UNDER THEMIZUHO BANKLTDHEAD OFFICECREDIT NOLC053300001724DATED JUNE 22021',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'TMB BANK PUBLIC COMPANY LIMITED',
 'FIRST COMMERCIAL BANK',
 'VIETINBANK',
 'MIZUHO BANK LTD',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'SHINHAN BANK',
 'FIRST COMMERCIAL BANK HEAD OFFICE',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'MIZUHO BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'HABIB BANK LIMITED',
 'SHINHAN BANK',
 'SHINHAN BANK',
 'BANK OF INDIA',
 'SERVICETOCHINA EVERBRIGHT BANK',
 'PT BANK OCBC',
 'BANK OF NOVA SCOTIA TORONTO ONTARIO M4T 1Z3 CANADAPLEASE',
 'SHINHAN BANK',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'BDO UNIBANK INC',
 'SHINHAN BANK',
 'BNP PARIBAS',
 'HDFC BANK LIMITEDTRADE',
 'THEMIZUHO BANKLTDHEAD OFFICECREDIT',
 'FIRST COMMERCIAL BANK HSIN-CHU BRANCH',
 'FIRST COMMERCIAL BANK',
 'CHANG HWA COMMERCIAL BANK LTD',
 'HUA NAN COMMERCIAL BANK LTD',
 'MIZUHO BANK LTD',
 'HABIB METROPOLITAN BANK LTDCPU',
 'SHINHAN BANK',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'CATHAY UNITED   BANK',
 'INFORMATIONTAISHIN INTERNATIONAL BANK',
 'FIRST COMMERCIAL BANK',
 'BANK AL-HABIB LTDTECHNOCITY',
 'KOREA DEVELOPMENT BANK',
 'VIETINBANK',
 'KOREA DEVELOPMENT BANK',
 'AXIS BANK LIMITED',
 'CATHAY UNITED   BANK',
 'MUFG BANK LTD',
 'VIETINBANK',
 'KOREA DEVELOPMENT BANK',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'FIRST COMMERCIAL BANK HSIN-CHU BRANCH',
 'KOREA DEVELOPMENT BANK',
 'USPRIOR TO THE PAYMENTACCEPTANCE4 INFORMATION TO ADVISING BANK',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'SBI OVERSEAS BRANCHNO65ST',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'SERVICECHINA CITIC BANKGUANGZHOU',
 'SACOMBANK - THANG LONG BRANCH',
 'CATHAY UNITED BANK',
 'FIRST COMMERCIAL BANK',
 'BANK OF BARODA',
 'KEB HANA BANKMARKED',
 'KOREA DEVELOPMENT BANK',
 'HABIB METROPOLITAN BANK LTDCPU',
 'CTBC BANK CO LTD',
 'KYONGNAM BANKMARKED',
 'BANCO DAVIVIENDA SA',
 'MIZUHO BANK LTD',
 'TAIPEI FUBON COMMERCIAL BANK',
 'SHINHAN BANK',
 'HDFC BANK LIMITEDTRADE',
 'SHINHAN BANK',
 'INDUSTRIAL BANK OF KOREA',
 'KOOKMIN BANKMARKED',
 'KOREAIBK FINANCE',
 'SHINHAN BANK',
 'CATHAY UNITED   BANK',
 'MIZUHO BANK LTD',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'THEAGRICULTURAL BANK OF CHINA LTD',
 'CATHAY UNITED BANK',
 'CIMB BANK BERHAD13491',
 'SHINHAN BANK',
 'THEMIZUHO BANKLTDHEAD OFFICECREDIT',
 'AGRICULTURALBANK OF CHINA LIMITED',
 'METROPOLITAN BANK AND TRUST CO',
 'EMIRATES NBD BANK PJSC',
 'CATHAY UNITED   BANK',
 'SHINHAN BANK',
 'AXIS BANK LIMITED',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'MEGA INTERNATIONAL COMMERCIAL BANKCOLTD',
 'BYMUFG BANK LTD',
 'FIRST COMMERCIAL BANKAND',
 'KYONGNAM BANKMARKED',
 'CITIBANK NA',
 'CITIBANK NA',
 'KOOKMIN BANKTRADE',
 'BANK LEUMI LE ISRAEL BMPRINCIPAL',
 'KOREA DEVELOPMENT BANK',
 'KOREA DEVELOPMENT BANK',
 'TOCHINA MERCHANTS BANK',
 'BANK LEUMI LE ISRAEL BMPRINCIPAL',
 'CATHAY UNITED BANK',
 'MUFG BANK LTD',
 'AFFIN BANK BERHAD',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'BANK OF CHINA',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'CATHAY UNITED   BANK',
 'HUA NAN COMMERCIAL BANK LTD',
 'KEB HANA BANKMARKED',
 'TAIWAN COOPERATIVE BANKCHENG',
 'SHINHAN BANK',
 'TOBANK HAPOALIM BM',
 'SHINHAN BANK',
 'UNITED ARAB BANK',
 'UBS SWITZERLAND AG',
 'VIETINBANK',
 'SHINHAN BANK',
 'TOBPER BANCA SPAVIA',
 'FIRST COMMERCIAL BANKAND',
 'AXIS BANK LIMITED',
 'PT BANK OCBC NISP TBKJL GUNUNG SAHARI',
 'SERVICETOCHINA EVERBRIGHT BANK',
 'CITIBANK NA',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'MIZUHO BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'BNP PARIBAS',
 'PING AN BANK CO LTD',
 'INDUSTRIAL BANK',
 'HUA NAN COMMERCIAL BANK LTD',
 'PT BANK OCBC',
 'KOOKMIN BANKHWIGYEONG',
 'FIRST COMMERCIAL BANK',
 'PT BANK OCBC',
 'KEB HANA BANKMARKED',
 'AXIS BANK LIMITED',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'SERVICECHINA CITIC BANKDONGGUAN',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'SACOMBANK - THANG LONG BRANCH',
 'SHINHAN BANK',
 'BANK OF TAIWAN PING CHEN BRANCH',
 'KOREA DEVELOPMENT BANK',
 'CIMB BANK BERHAD13491',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'CIMB BANK BERHAD13491',
 'BANK OF CHINA LTD',
 'HUA NAN COMMERCIAL BANK LTD',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'FIRST COMMERCIAL BANKAND',
 'KOREA DEVELOPMENT BANK',
 'BANK CENTRAL ASIA',
 'ASIA COMMERCIAL BANK',
 'QNB FINANSBANK AS',
 'CHINA GUANGFA BANK COLTDSHUNDEBRANCHNO13',
 'VIETINBANK',
 'DEPTBANK OF CHINA LTD',
 'CTBC BANK CO LTDSHIZHENG',
 'DBS BANK HONG KONG LTD',
 'VIETINBANK',
 'MIZUHO BANK LTD',
 'ICICI BANK LTD',
 'BANK SINOPAC2DISCREPANCY',
 'HDFC BANK LIMITEDTRADE',
 'MASHREQBANK PSC',
 'SERVICECHINA CITIC BANKGUANGZHOU',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'VIETINBANK',
 'YUANTACOMMERCIAL BANK',
 'BANK PUBLIC COMPANY LIMITEDMARKED',
 'OFFIRST COMMERCIAL BANKNOTIFYCAL',
 'MIZUHO BANK LTD',
 'INDUSTRIAL BANK OF KOREA SEOUL',
 'MIZUHO BANK LTD',
 'KEB HANA BANK',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'KOREA DEVELOPMENT BANK',
 'HANG SENG BANK LIMITED',
 'SHINHAN BANK',
 'HANG SENG BANK LIMITEDGTRF',
 'HDFC BANK LTDE',
 'KYONGNAM BANKMARKED',
 'SHINHAN BANK',
 'BANK SINOPACOBU2DISCREPANCY',
 'KEB HANA BANKMARKED',
 'CATHAY UNITED   BANK',
 'KOOKMIN BANKMARKED',
 'KOREA DEVELOPMENT BANK',
 'CTBC BANK CO LTD',
 'OFCHANG HWA COMMERCIAL BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'KOOKMIN BANKHWIGYEONG',
 'KOREA DEVELOPMENT BANK',
 'KOOKMIN BANKYEOUIDO',
 'BANK OF CHINA',
 'MUFG BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'KOREAIBK FINANCE',
 'INDIAN OVERSEAS BANKMANDVI',
 'SHINHAN BANK',
 'CITIBANK NA',
 'MIZUHO BANK LTD',
 'CITIBANK NA',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'SHINHAN BANK',
 'HABIB METROPOLITAN BANK LTDCPU',
 'TOTAIWAN COOPERATIVE BANK',
 'STATE BANK OF INDIA',
 'SHINHAN BANK',
 'HWA COMMERCIAL BANK LTD',
 'BANK CENTRAL ASIA',
 'NONGHYUP BANK',
 'MIZUHO BANK LTD',
 'OUR ADDRESS BANKIA C',
 'OCBC WING HANG BANK CHINALIMITEDACCEPTANCE',
 'VESSELSCATHAY UNITED BANK',
 'TAIWAN COOPERATIVE BANK',
 'KOREAIBK FINANCE',
 'BANK OF BARODA',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'MIZUHO BANK LTD',
 'CIMB BANK BERHAD13491',
 'TOSHINHAN BANK',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'NONGHYUP BANK',
 'KYONGNAM BANKMARKED',
 'BNP PARIBAS',
 'SHINHAN BANK',
 'WOORI BANK8TH',
 'YES BANK LTD',
 'MIZUHO BANK LTD',
 'VIETINBANK',
 'BANK ISLAM MALAYSIA BERHAD',
 'CITIBANK NA',
 'CIMB BANK BERHAD13491',
 'SHINHAN BANK',
 'STATE BANK OF INDIA',
 'CTBC BANK CO LTD',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'ADDRESSBANK OF COMMUNICATIONS COLTD',
 'DAH SING BANK LTD',
 'BANKPERMATACERTIFICATE OF ANALYSIS',
 'BANK SINOPACOBU2DISCREPANCY',
 'CHONG HING BANK LIMITED',
 'KEB HANA BANKMARKED',
 'HABIB METROPOLITAN BANK LTDCPU',
 'SAMBA BANK LTD',
 'CITIBANK TAIWAN LIMITED',
 'SHINHAN BANK',
 'MIZUHO BANK LTD',
 'SHINHAN BANK',
 'TAICHUNG COMMERCIAL BANK85',
 'CTBC BANK CO LTD',
 'KEB HANA BANKMARKED',
 'AXIS BANK LTDB2',
 'SHINHAN BANK',
 'MIZUHO BANK LTD',
 'KRUNG THAI BANK PUBLIC CO LTD',
 'TOAGRICULTURAL BANK OF CHINA',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'KEB HANA BANKMARKED',
 'ARAB BANK PLC',
 'SHINHAN BANK',
 'REQUIREDCTBC BANK CO LTD',
 'BANK CO LTD',
 'ADDRESSBANK OF CHINA LTDXIAMEN',
 'VIETINBANK',
 'JOINT STOCK COMMERCIAL BANK FORFOREIGN TRADE OF VIETNAM THANH CONG BRANCH',
 'CHANG HWA COMMERCIAL BANK LTD',
 'SHANGHAI PUDONG DEVELOPMENT BANK',
 'CHANG HWA COMMERCIAL BANK LTD',
 'CTBC BANK CO LTD',
 'MIZUHO BANK LTD',
 'MUFG BANK LTD',
 'OFJOINT STOCK COMMERCIAL BANK FOR FOREIGN TRADE OF VIETNAM',
 'KEB HANA BANK',
 'INDUSTRIAL BANK OF KOREA',
 'BELFIUS BANK SA',
 'AXIS BANK LIMITED',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'SHINHAN BANK',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'SHINHAN BANK',
 'VIETINBANK',
 'SERVICECHINA CITIC BANKWUHAN',
 'KOOKMIN BANKHWIGYEONG',
 'CITIBANK NA',
 'UNITEDSTATES OF AMERICATHE UNITED KINGDOM',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'SHINHAN BANK',
 'BDO UNIBANK INC',
 'AGRICULTURAL BANK OF CHINA',
 'PT BANK OCBC',
 'BPER BANCA SPA',
 'HUA NAN COMMERCIAL BANK LTD',
 'CATHAY UNITED   BANK',
 'KYONGNAM BANKMARKED',
 'UNION BANK OF INDIA',
 'MIZUHO BANK LTD',
 'BNP PARIBAS',
 'HDFC BANK LTD',
 'MIZUHO BANKLTDHEAD OFFICECREDIT NOLC053300001564DATED FEBRUARY 52021',
 'INDUSTRIAL BANK OF KOREA SEOUL',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'KOREA DEVELOPMENT BANK',
 'PT BANK OCBC NISP TBKJL GUNUNG SAHARI',
 'AGRICULTURAL BANK OF CHINA',
 'CITIBANK NA',
 'CITIBANK NA',
 'FIRST COMMERCIAL BANK',
 'STATE BANK OF INDIA',
 'OUR ADDRESS BANKIA C',
 'HUA NAN COMMERCIAL BANK LTD',
 'MUFG BANK LTD',
 'BUSAN BANK',
 'LAND BANK OF TAIWAN',
 'TAISHIN INTERNATIONAL BANK',
 'CITIBANK N A',
 'CITIBANK NA',
 'TMBTHANACHART BANK PUBLIC COMPANY LIMITED',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'STANDARD CHARTERED BANK',
 'ASIA COMMERCIAL BANK',
 'SHINHAN BANK',
 'CATHAY UNITED   BANK',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'KEB HANA BANKMARKED',
 'MEGA INTERNATIONALCOMMERCIAL BANK CO LTD',
 'KRUNG THAI BANK PUBLIC CO LTD',
 'KOOKMIN BANKMARKED',
 'STANDARD CHARTERED BANK',
 'HUA NAN COMMERCIAL BANK LTD',
 'AGRICULTURAL BANK OF CHINA',
 'VIETINBANK',
 'SHINHAN BANKINTL',
 'MEEZAN BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'CATHAY UNITEDBANK',
 'KEB HANA BANKMARKED',
 'TMB BANK PUBLIC COMPANY LIMITED',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'DBS GROUP HOLDINGS LTD',
 'OFFIRST COMMERCIAL BANKNOTIFYCAL',
 'KASIKORNBANK PUBLIC COMPANY LIMITED',
 'SHINHAN BANK',
 'INDUSTRIAL BANK OF KOREA SEOUL',
 'CHANG HWA COMMERCIAL BANK LTD',
 'MIZUHO BANK LTD',
 'BANK LEUMI LE ISRAEL BMPRINCIPAL',
 'KOREA DEVELOPMENT BANK',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'SHINHAN BANK',
 'SERVICECHINA CITIC BANKGUANGZHOU',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'BANK OF TAIWAN PING CHEN BRANCH',
 'ATCITIBANK NA',
 'BANK OF TAIWAN PING CHEN BRANCH',
 'BANK ISLAM MALAYSIA BERHAD',
 'UNION BANK OF INDIAKHAND BAZAR BRANCH',
 'UNITED ARAB BANK',
 'ICICI BANK LTD',
 'AXIS BANK LIMITED',
 'BANK OF CHINA LTD',
 'FIRST COMMERCIAL BANK',
 'TAIWAN COOPERATIVE BANKCHENG',
 'CITIBANK NA',
 'JOINT STOCK COMMERCIAL BANK FOR FOREIGN TRADE OF VIETNAMCHUONG',
 'VIETINBANK',
 'CIMB BANK BERHAD13491',
 'OCBC WING HANG BANK CHINALIMITEDACCEPTANCE',
 'BPER BANCA SPA',
 'SERVICECHINA CITIC BANKGUANGZHOU',
 'TOBANK HAPOALIM BM',
 'WOORI BANK',
 'HDFC BANK LTD',
 'TOCHINA MERCHANTS BANK',
 'CITIBANK NA',
 'KEB HANA BANKMARKED',
 'SHINHAN BANK',
 'DEUTSCHE BANK AG',
 'KOREA DEVELOPMENT BANK',
 'BANK SINOPACOBU2DISCREPANCY',
 'HDFC BANK LTD',
 'KEB HANA BANKMARKED',
 'AGRICULTURAL BANK OF CHINA',
 'AXIS BANK LIMITED',
 'HABIB METROPOLITAN BANK   LTD',
 'BANK ISLAM MALAYSIA BERHAD',
 'OFCITIBANK NA',
 'CATHAY UNITED   BANK',
 'CIMB BANK BERHAD13491',
 'KYONGNAM BANKMARKED',
 'FIRST COMMERCIAL BANK',
 'AGRICULTURAL BANK OF CHINA',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'CITIBANK NA',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'KOOKMIN BANKMAPOYEOK',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'MUFG BANK LTD',
 'BANK OF CHINA LTD',
 'HONORCHINA CONSTRUCTION BANK',
 'CITIBANK NA',
 'KOREA DEVELOPMENT BANK',
 'ASIA COMMERCIAL BANK-TUNG THIEN VUONG BRANCH',
 'SHINHAN BANK',
 'TOCHINA MERCHANTS BANK NINGBO BRANCH',
 'CTBC BANK CO LTD',
 'KOOKMIN BANKHWIGYEONG',
 'HUA NAN COMMERCIAL BANK LTD',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'SHINHAN BANK',
 'BANK CENTRAL ASIA',
 'SHINHAN BANK',
 'TMBTHANACHART BANK PUBLIC COMPANY LIMITED',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'HABIB METROPOLITAN BANK LTDCPU',
 'KOREA DEVELOPMENT BANK',
 'TAISHIN INTERNATIONAL BANK',
 'CHINA',
 'OUR ADDRESS BANKIA C',
 'BANK OF CHINA',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'ADDRESSBANK OF CHINA LTD',
 'CTBC BANK CO LTD',
 'SHINHAN BANKINTL',
 'SERVICECHINA CITIC BANKDONGGUAN',
 'YES BANK LTD2NOTWITHSTANDING',
 'TOBANK HAPOALIM BM',
 'INDUSTRIAL BANK OF KOREA SEOUL',
 'BNP PARIBAS',
 'TOBANK HAPOALIM BM',
 'SHINHAN BANK',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'SHINHAN BANK',
 'KASIKORNBANK PUBLIC COMPANY LIMITEDTHIS',
 'MIZUHO BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'STATE BANK OF INDIA',
 'BANK OF BAHRAIN AND KUWAIT BSC HYDERABAD',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'UCPDC',
 'DAMMAM',
 'SONERI BANK LIMITED',
 'CATHAY UNITED BANK',
 'TMBTHANACHART BANK PUBLIC COMPANY LIMITED',
 'SONERI BANK LIMITED',
 'SHANGHAI PUDONG DEVELOPMENT BANK',
 'BANK OF TAIWAN PING CHEN BRANCH',
 'CATHAY UNITED   BANK',
 'SHINHAN BANK',
 'KYONGNAM BANKMARKED',
 'GHAICHINA',
 'CATHAY UNITED BANK',
 'KOREA DEVELOPMENT BANK',
 'SHINHAN BANK',
 'BANK OF CHINA',
 'THEINDUSTRIAL AND COMMERCIAL BANK OF CHINANINGBO',
 'SERVICETOCHINA EVERBRIGHT BANK',
 'MIZUHO BANK LTD',
 'MIZUHO BANK LTD',
 'MUFG BANK LTD',
 'SHINHAN BANKINTL',
 'CITIBANK NA',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'MIZUHO BANK LTD',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'THEAGRICULTURAL BANK OF CHINA LTD',
 'BANK ISLAM MALAYSIA BERHAD',
 'CATHAY UNITED BANK',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'SHINHAN BANK',
 'HUA NAN COMMERCIAL BANK LTD',
 'CITIBANK NA',
 'KOREA DEVELOPMENT BANK',
 'CTBC BANK CO LTD',
 'FIRST COMMERCIAL BANK',
 'BANK',
 'YES BANK LTD',
 'CITIBANK NA',
 'CITIBANK NA',
 'CITIBANK NA',
 'KOREA DEVELOPMENT BANK',
 'VIETINBANK',
 'DHL TO VALIANT BANK AGMATTENSTRASSE',
 'KEB HANA BANKMARKED',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'CIMB BANK BERHAD13491',
 'MIZUHO BANK LTD',
 'BANK OF BARODA',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'BANK OF CHINA',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'CITIBANK NA',
 'FIRST COMMERCIAL BANK',
 'HUA XIA BANK',
 'TAIPEIFUBON COMMERCIAL BANK CO LTD',
 'CTBC BANK CO LTD',
 'BANK OF CHINA',
 'MIZUHO BANK LTD',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'CIMB BANK BERHAD13491',
 'FIRST COMMERCIAL BANK',
 'WOORI BANK',
 'THEAGRICULTURAL BANK OF CHINA LTD',
 'KYONGNAM BANKMARKED',
 'AXIS BANK LTD',
 'BANCA NAZIONALE DEL LAVORO SPA',
 'SHINHAN BANK',
 'KEB HANA BANKMARKED',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'INFORMATIONTAISHIN INTERNATIONAL BANK',
 'KOREA DEVELOPMENT BANK',
 'SUZHOU HUAI REN CHEMICAL FIBER CO LTD',
 'TURK EKONOMI BANKASI AS',
 'DRAWN UNDER THEMIZUHO BANKLTDHEAD OFFICECREDIT NOLC053300001724DATED JUNE 22021',
 'BPER BANCA SPA',
 'MIZUHO BANK LTD',
 'KOREA DEVELOPMENT BANK',
 'KOREA DEVELOPMENT BANK',
 'AGRICULTURAL BANK OF CHINA',
 'KOOKMIN BANKMARKED',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'HDFC BANK LTDE',
 'KOREA DEVELOPMENT BANK',
 'BANK SINOPACOBU2DISCREPANCY',
 'USPRIOR TO THE PAYMENTACCEPTANCE4 INFORMATION TO ADVISING BANK',
 'MIZUHO BANK LTD',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'KOOKMIN BANKMAPOYEOK',
 'SHINHAN BANK',
 'INDUSTRIAL BANK OF KOREA',
 'SHINHAN BANK',
 'CATHAY UNITED   BANK',
 'THEMIZUHO BANKLTDHEAD OFFICECREDIT',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'DBS BANK LTD',
 'KOOKMIN BANKMAPOYEOK',
 'TURK EKONOMI BANKASI AS',
 'BANK OFAYUDHYA PUBLIC COMPANY LIMITED',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'CHONG HING BANK LIMITED',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'PING AN BANK CO LTD',
 'THEMIZUHO BANKLTDHEAD OFFICECREDIT',
 'TMB BANK PUBLIC COMPANY LIMITED',
 'CTBC BANK CO LTD',
 'UNDERASKARI BANK LTD',
 'CIMB BANK BERHAD13491',
 'SHINHAN BANK',
 'HANG SENG BANK LIMITEDGTRF',
 'KASIKORNBANK PUBLIC COMPANY LIMITED',
 'SHINHAN BANK',
 'HUA NAN COMMERCIAL BANK LTD',
 'DAEGU BANK LTD',
 'CITI BANK',
 'CIMB BANK BERHAD13491',
 'KYONGNAM BANKMARKED',
 'BANK OF BARODA',
 'ICICI BANK LTD',
 'KEB HANA BANKMARKED',
 'BANK ASIA LTDUTTARABRANCHDHAKABANGLADESH',
 'SHINHAN BANK',
 'KOREAIBK FINANCE',
 'KEB HANA BANKMARKED',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'SOUTHEAST BANK LIMITED',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'TMB BANK',
 'KOREA DEVELOPMENT BANK',
 'TAIWAN BUSINESS BANK LIMITED',
 'AGRICULTURAL BANK OF CHINA',
 'SERVICETOCHINA EVERBRIGHT BANK',
 'METROPOLITAN BANK LTD',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'PING AN BANK CO LTD',
 'SHINHAN BANK',
 'BUSAN BANK',
 'SHINHAN BANK',
 'CHINA CONSTRUCTION BANK',
 'BANCO DI DESIO E DELLA BRIANZA',
 'BANK CENTRAL ASIAMARKED',
 'BANK CO LTD',
 'KOREAIBK FINANCE',
 'CITIBANK NA',
 'BNP PARIBAS',
 'INDUSIND BANK LTD',
 'MEEZAN BANK LTD',
 'SHINHAN BANK',
 'SERVICETOCHINA EVERBRIGHT BANK HANGZHOU BRANCHROOM',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'MUFG BANK LTD',
 'SHINHAN BANK',
 'KOREA DEVELOPMENT BANK',
 'KOREA DEVELOPMENT BANK',
 'BNP PARIBAS',
 'BNP PARIBAS',
 'TMB BANK PUBLIC COMPANY LIMITEDSURAWONGBRANCH',
 'BPER BANCA SPA',
 'FIRST COMMERCIAL BANKAND',
 'SACOMBANK - THANG LONG BRANCH',
 'CTBC BANK CO LTD',
 'KOREA DEVELOPMENT BANK',
 'BANK OF BAHRAIN AND KUWAIT BSC HYDERABAD',
 'FUBON BANK HONG KONG',
 'PT BANK OCBC',
 'STANDARD CHARTERED BANK',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'MIZUHO BANK LTD',
 'MEGA INTERNATIONALCOMMERCIAL BANK',
 'KOREA DEVELOPMENT BANK',
 'BANK CO LTD',
 'SHINHAN BANK',
 'KOREA DEVELOPMENT BANK',
 'BANKERCTBC BANK CO LTD',
 'TMBTHANACHART BANK PUBLIC COMPANY LIMITED',
 'THEAGRICULTURAL BANK OF CHINA LTD',
 'DAH SING BANK LTD',
 'MIZUHO BANK LTD',
 'BNP PARIBAS',
 'FUBON BANK HONG KONG LIMITEDOPERATIONS',
 'MIZUHO BANKLTD',
 'COMMERZBANK AGSHANGHAI',
 'BANK OF CHINA',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'TOBANK HAPOALIM BM',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'KASIKORNBANK PUBLIC COMPANY LIMITEDTHIS',
 'MIZUHO BANK LTD',
 'CHANG HWA COMMERCIAL BANK LTD',
 'ADDINDUSTRIAL BANK OF KOREAIBK',
 'CITIBANK NA',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'METROPOLITAN BANK AND TRUST CO',
 'MUFG BANK LTD',
 'BANK OF CHINA',
 'TMBTHANACHART BANK PUBLIC COMPANY LIMITED',
 'BELFIUS BANK SA',
 'BANK CO LTD',
 'KOREA DEVELOPMENT BANK',
 'CITIBANK NA',
 'TAICHUNG COMMERCIAL BANKYONG',
 'MIZUHO BANK LTD',
 'CIMB BANK BERHAD13491',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'KEB HANA BANKMARKED',
 'CATHAY UNITED   BANK',
 'INDUSTRIAL BANK OF KOREA SEOUL',
 'INDUSTRIAL BANK OF KOREA',
 'FIRST COMMERCIAL BANK',
 'CATHAY UNITED   BANK',
 'BNP PARIBAS',
 'CTBC BANK CO LTD',
 'CATHAY UNITED BANK',
 'CITIBANK NA',
 'CATHAY UNITED   BANK',
 'MIZUHO BANK LTD',
 'BANKERCTBC BANK CO LTD',
 'KOREA DEVELOPMENT BANK',
 'NHAVA SHEVA PORT INDIA',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'KOREA DEVELOPMENT BANK',
 'KOREA DEVELOPMENT BANK',
 'QNB FINANSBANK AS',
 'MEGA INTERNATIONAL COMMERCIAL BANK',
 'TOBANK HAPOALIM BM',
 'INDUSTRIAL BANK OF KOREA',
 'CHANG HWA COMMERCIAL BANK LTD',
 'MAHABANK',
 'KEB HANA BANKMARKED',
 'MUFG BANK LTDPOBOX',
 'BANK SINOPACOBU2DISCREPANCY',
 'SHINHAN BANK',
 'KOREA DEVELOPMENT BANK',
 'BANK OF CHINA LTD',
 'SHINHAN BANK',
 'NONGHYUP BANK',
 'CITIBANK BERHAD',
 'ASIA COMMERCIAL BANK',
 'CHANG HWA COMMERCIAL BANK LTD',
 'CATHAY UNITED   BANK',
 'CIMB BANK BERHAD13491',
 'TAICHUNG COMMERCIAL BANK2FNO87MIN',
 'BANK SINOPACOBU2DISCREPANCY',
 'SHINHAN BANK',
 'KYONGNAM BANKMARKED',
 'BANK OF TAIWAN PING CHEN BRANCH',
 'BANK OF CHINA LTD',
 'BANK CENTRAL ASIAMARKED',
 'KOREA DEVELOPMENT BANK',
 'VERBUNDVOLKSBANK OWL EGINTERNATIONALES',
 'CITIBANK NA',
 'PT BANK OCBC',
 'SHINHAN BANK',
 'ICICI BANK LTD',
 'HOURSWETAIPEI FUBON COMMERCIAL BANK',
 'TAIWAN COOPERATIVE BANK',
 'BANK OF AMERICA NATIONALASSOCIATION',
 'KOREA DEVELOPMENT BANK',
 'BANGKOK BANK PUBLIC COMPANY LIMITED',
 'KOREA DEVELOPMENT BANK',
 'SAMBA BANK LTD',
 'MIZUHO BANK LTD',
 'USPUBALI BANK LIMITED',
 'SUZHOU HUAI REN CHEMICAL FIBER CO LTD',
 'CIMB BANK BERHAD13491',
 'CITIBANK NA',
 'KOREA DEVELOPMENT BANK',
 'KOREA DEVELOPMENT BANK',
 'MEGA INTERNATIONAL COMMERCIAL BANKCOLTD CHUNG SHAN BRANCH',
 'NHAVA SHEVA PORT INDIA',
 'AGRICULTURAL BANK OF CHINA',
 'DAH SING BANK LTD',
 'GICAR       SPA',
 'MEGA INTERNATIONAL COMMERCIAL BANKCOLTD CHUNG SHAN BRANCH',
 'INDUSTRIAL BANK OF KOREA',
 'CTBC BANK CO LTD',
 'CATHAY UNITED BANK',

In [55]:
result.loc[result['class']=='rule','predict']

3132                                            VIETINBANK
1247     INDUSIND BANK LTD QUOTING OUR LC AND DATE MARK...
20560                                           WOORI BANK
7453     SHIPPER AND ENDORSED IN BLANKMARKED FREIGHT PR...
1725                                            VIETINBANK
                               ...
3238                                  ASIA COMMERCIAL BANK
1670     ICICI BANK LTD ICICICENTRE 163 HTPAREKH MARG B...
5726                   BANGKOK BANK PUBLIC COMPANY LIMITED
3960     SHIPPER ANDENDORSED TO CITIBANK NA DUBAI EVIDE...
8276     ISSUING BANKMARKED FRIGHT PREPAID NOTIFING APP...
Name: predict, Length: 89, dtype: object

In [56]:
result['Y_label'].apply(lambda x:x.split(' ')[-1]).value_counts().head(10)

BANK                   205
LTD                    131
LIMITED                 47
BANKMARKED              32
NA                      29
CHINA                   18
BRANCH                  16
BERHAD13491             14
VIETINBANK              14
NATIONALASSOCIATION     13
Name: Y_label, dtype: int64