In [17]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm_notebook as tqdm

# 預處理
def preprocess(x):
    x = str(x) # 0.轉字串
    x = re.sub('[\u4e00-\u9fa5]', '', x) # 1.去除中文
    x = re.sub('[’!"#$%&\'()*+,/:;<=>?@[\\]^_`{|}~，。,.]', '', x) # 2.去除標點符號
    x = x.replace('\n', '').replace('\r', '').replace('\t', '') # 3.去除換行符號
    x = str.strip(x) # 4.移除左右空白
    x = x.replace('x000D','') # 5.移除'x000D'
    return x

# 人工規則找銀行
def get_bank(text):
    text = preprocess(str(text))
    split_keywords = ['TO ORDER OF','TO THEORDER OF','TO THE ORDER OF','TOTHE ORDER OF','TO THE ORDER+OF','TOORDER OF']
    for i in split_keywords:
        if i in text: # 若找到關鍵分割字串
            text = text.split(i)[1] # 取後半段文章
            
            # ==========各種case==================
            # case 1 LIMITED
            if 'LIMITED' in text:
                idx = text.find('LIMITED')
                result = preprocess(text[:idx+len('LIMITED')])
                if ('LIMITED' in result) and (len(result) > len('LIMITED')):
                    return result
            
            # case 2 LTD
            elif 'LTD' in text:
                idx = text.find('LTD')
                result = preprocess(text[:idx+len('LTD')])
                if ('LTD' in result) and (len(result) > len('LTD')):
                    return result
            
            # case 3 BANK
            elif 'BANK' in text:
                idx = text.find('BANK')
                result = preprocess(text[:idx+len('BANK')])
                if ('BANK' in result) and (len(result) > len('BANK')):
                    return result  
            
            # case 4 BRANCH
            elif 'BRANCH' in text:
                idx = text.find('BRANCH')
                result = preprocess(text[:idx+len('BRANCH')])
                if ('BRANCH' in result) and (len(result) > len('BRANCH')):
                    return result
            
            # case 5 找到關鍵分隔字 但是找不到上面的模式
            else:
                return 'not find'
        
        # case 6 找不到關鍵分隔字
        else:
            return 'not find'


# 找 Y1 Y2
def str2index(context,string):
    ys = context.find(string)
    ye = ys + len(string)
    return ys,ye

df = pd.read_excel('../data/combined_excel.xlsx',index_col=0)[['46A','47A','78','LCBK']].astype(str)
df.head()

,46A,47A,78,LCBK
0,1. FULL SET OF(3 NEGOTIABLE COPIES PLUS 3 NON-...,1.ORIGINAL DOCUMENTS TO BE SENT IN ONE LOT BY ...,WE SHALL REMIT THE PROCEEDS TO YOU UPON RECEIP...,nan
1,1.DRAFTS FOR 100PCT OF INVOICE VALUE..2.COMPLE...,1.ALL DOCUMENT MUST MENTION OUR LC NUMBER AND ...,REFER FIELD 47A.,nan
2,+1. SHIPPED ON BOARD OCEAN BILLS OF LADING (FU...,+1. DOCUMENTS TO BE SENT DIRECTLY TO US IN ONE...,WE HEREBY UNDERTAKE WITH DRAWERS AND/OR BONAFI...,nan
3,1. SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS AN...,1. ALL DOCUMENTS MUST BE IN ENGLISH.2. ALL DOC...,+UPON RECEIPT OF CREDIT COMPLIANT DOCUMENTS AT...,"ICICI BANK LTD.,\nSHALIMAR TOWER, 31/54 M.G.MA..."
4,1. SIGNED COMMERCIAL INVOICE IN ORIGINAL AND 4...,(A) ALL DOCUMENTS AND DRAFTS (IF CALLED FOR UN...,IN REIMBURSEMENT OF NEGOTIATION MADE BY YOUIN ...,"NATIONAL COMMERCIAL BANK, THE\n(HEAD OFFICE)"

In [18]:
# 預處理
df['46A'] = df['46A'].apply(preprocess)
df['47A'] = df['47A'].apply(preprocess)
df['78'] = df['78'].apply(preprocess)
df['LCBK'] = df['LCBK'].apply(preprocess)

# X,Y製作
table = pd.DataFrame()
table['string_X_train'] = df['46A'] +df['47A'] +df['78']
table['Y_label'] = df['LCBK']
df = table

# Y1,Y2製作
ys_lst = []
ye_lst = []
for i in range(len(df)):
    context= df['string_X_train'].values[i]
    string = df['Y_label'].values[i]
    ys,ye = str2index(context,string)
    ys_lst.append(ys)
    ye_lst.append(ye)
df['string_Y_1'] = ys_lst
df['string_Y_2'] = ye_lst

# 清洗不合格數據
df = df[df['string_Y_1'] != -1]
df = df[df['Y_label'] != '']
df = df[df['Y_label'] != str('nan')]
print(df.shape)
df.head(20)

(3742, 4)

,string_X_train,Y_label,string_Y_1,string_Y_2
16,SIGNED COMMERCIAL INVOICE IN 3 ORIGINALS INDIC...,CTBC BANK CO LTD,1859,1875
18,SIGNED COMMERCIAL INVOICE IN TRIPLICATE FULL S...,INDUSTRIAL BANK OF KOREA SEOUL,873,903
19,SIGNED COMMERCIAL INVOICE IN TRIPLICATE FULL S...,INDUSTRIAL BANK OF KOREA SEOUL,873,903
22,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALINDICAT...,CTBC BANK CO LTD,4923,4939
23,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALINDICAT...,CTBC BANK CO LTD,4923,4939
24,SIGNED COMMERCIAL INVOICE IN 2 ORIGINALINDICAT...,CTBC BANK CO LTD,4923,4939
30,1SIGNED COMMERCIAL INVOICE IN DUPLICATE SHOWIN...,CHANG HWA COMMERCIAL BANK LTD,5344,5373
33,SIGNED COMMERCIAL INVOICE IN 03 COPIESFULL SET...,KEB HANA BANK,111,124
34,SIGNED COMMERCIAL INVOICE IN 03 COPIESFULL SET...,KEB HANA BANK,111,124
41,1FULL SET OF ORIGINALS AND 2 NON-NEGOTIABLE CO...,STANDARD CHARTERED BANK,1595,1618
42,1FULL SET OF ORIGINALS AND 2 NON-NEGOTIABLE CO...,STANDARD CHARTERED BANK,1595,1618
43,1FULL SET OF ORIGINALS AND 2 NON-NEGOTIABLE CO...,STANDARD CHARTERED BANK,1595,1618
49,FULL SET OF CLEAN ON BOARD OCEAN BILLS OF LADI...,KYONGNAM BANK,77,90
50,FULL SET OF CLEAN ON BOARD OCEAN BILLS OF LADI...,KYONGNAM BANK,77,90
51,FULL SET OF CLEAN ON BOARD OCEAN BILLS OF LADI...,KYONGNAM BANK,77,90
56,DRAFTS AT SIGHTSIGNED COMMERCIAL INVOICE S IN ...,AXIS BANK LIMITED,126,143
57,DRAFTS AT SIGHTSIGNED COMMERCIAL INVOICE S IN ...,AXIS BANK LIMITED,126,143
58,DRAFTS AT SIGHTSIGNED COMMERCIAL INVOICE S IN ...,AXIS BANK LIMITED,126,143
64,1 DRAFT AT SIGHT ON ISSUING BANK AND MARKED DR...,BANK OF MAHARASHTRA,685,704
65,1 DRAFT AT SIGHT ON ISSUING BANK AND MARKED DR...,BANK OF MAHARASHTRA,685,704

In [19]:
# 驗證數據
for i in tqdm(range(len(df))):
    assert df['string_X_train'].values[i][df['string_Y_1'].values[i]:df['string_Y_2'].values[i]] == df['Y_label'].values[i]
find = df['string_X_train'].apply(get_bank)
find = find[find!='not find']
len(find)/len(df)

<ipython-input-19-04e1b1ee7577>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(len(df))):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=3742.0), HTML(value='')))

0.13468733297701763

In [20]:
# 保存
df.to_csv('../data/preprocess_for_SQUAD_銀行.csv')